* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/*header navigation*/
.lef-and-right-space-container {
  width: 80%;
  margin: auto;
}
.header-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100px;
  border-bottom: #a6d0b1 1px solid;
}
.header-content img {
  width: 100px;
  height: 100px;
}
.header-content .search-bar {
  position: relative;
}
.header-content .search-bar input {
  height: 30px;
  width: 500px;
  height: 30px;
  padding: 20px 0 20px 25px;
  border: none;
  background-color: #edf1ee;
  border-radius: 30px;
}
.header-content .search-bar button {
  position: absolute;
  right: 20px;
  bottom: 10px;
  border: none;
  color: gray;
  background-color: #edf1ee;
}
.header-content .header-nav a {
  margin-left: 20px;
  font-size: 22px;
  color: #a6d0b1;
}

/*pages navigation*/
.pages-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}
.nav-bar {
  overflow: hidden;
  width: 60%;
}
.pages-nav .nav-bar button {
  position: relative;
  font-size: 16px;
  padding: 8px 120px 8px 10px;
  background-color: #a6d0b1;
  border: none;
  color: #ffffff;
  float: left;
  border-radius: 5px;
  margin-right: 60px;
}
.pages-nav .nav-bar button i {
  position: absolute;
  top: 25%;
  left: 85%;
}
.pages-nav .pages {
  float: left;
}
.pages-nav .pages a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  margin-right: 20px;
}
.pages-nav .pages a i {
  font-size: 10px;
}

.pages-nav .Sign-in p {
  font-size: 18px;
  font-weight: 700;
  padding: 10px;
}
.pages-nav .Sign-in p i {
  font-size: 30px;
  color: #a6d0b1;
  margin-right: 10px;
}
.pages-nav .Sign-in:hover i {
  color: #384d3d;
}

/* Title Section */
.title {
  width: 100%;
  height: 50vh;
  background-color: #a6d0b1;
  background-image: url(/images/Ginecology_line_art_banners__pattern-removebg-preview.png);
  display: flex;
  align-items: center;
  padding-left: 10%;
}
.title h2 {
  font-size: 50px;
  font-weight: 700;
}
.title a {
  color: #384d3d;
  text-decoration: none;
  font-size: 16px;
}

.title i {
  font-size: 10px;
}

.shop-content {
  margin-top: 20px;
  width: 100%;
  overflow: hidden;
}
.product-card {
  background-color: #d6e9dc; /* درجة من a6d0b1 */
  border-radius: 15px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: 0.3s;
  height: 100%;
}

.product-card img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.product-card:hover {
  transform: scale(1.03);
}

.product-card h3 {
  font-size: 18px;
  margin: 10px 0 5px;
  color: #1f4032;
}

.product-card p {
  margin: 5px 0;
  color: #2e4e3f;
}

.product-card button {
  background-color: #a6d0b1;
  border: none;
  color: #fff;
  padding: 8px 12px;
  border-radius: 8px;
  margin-top: 10px;
}

.product-card button:hover {
  background-color: #8dbd99;
}
/* filters */
.shop-filters {
  width: 20%;
  float: left;
  margin-right: 35px;
}
.shop-filters .filter-card {
  width: 100%;
  height: 30vh;
  background-color: #c2e7c54d;
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 20px;
}
.shop-filters .filter-card h4 {
  font-size: 25px;
  margin-bottom: 15px;
  padding: 5px;
  border-bottom: 2px #4e6954 solid;
  display: inline-block;
}
.shop-filters .filter-card .checkbox div {
  margin-bottom: 5px;
}
.shop-filters .filter-card .checkbox label {
  margin-left: 5px;
  font-size: 16px;
  color: rgb(85, 88, 86);
}
.shop-filters .filter-card .checkbox input {
  transform: scale(1.2);
}
.price-range .pricebtn {
  border-color: #8dbd99;
  background-color: #a6d0b1;
}
.price-range .pricebtn:hover {
  background-color: #8dbd99;
}
