<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <link rel="stylesheet" href="../css/signin.css" />
  </head>
  <body>
    <div class="container">
      <div class="left-panel">
        <h1>Welcome Back!</h1>
        <p>To keep connected with us please login with your personal info</p>
        <a href="signup.html"><button class="btn-outline">Sign Up</button></a>
      </div>

      <div class="right-panel">
        <h1>Login Form</h1>
        <form id="loginForm">
          <input type="email" id="loginEmail" placeholder="Email" required />
          <input
            type="password"
            id="loginPassword"
            placeholder="Password"
            required
          />
          <div id="loginMessage" class="message"></div>
          <button class="btn-fill" type="submit">Sign in</button>
        </form>
      </div>
    </div>
    <script src="../js/signin.js"></script>
  </body>
</html>
